###> slim/slim ###
/var/
/vendor/
###< slim/slim ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/coverage/
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
