.container {
    padding-top:1.5em;
}

.card-header em {
    font-size:small;
}

.card-text .author {
    text-align:right;
}

.list .article {
    padding:1em 0;
    border-bottom: 1px solid #CCC;
}

.list .article h3 {
    font-size: medium;
}

.list .author {
    padding:1em 0;
    border-bottom: 1px solid #CCC;
}

.list .author h3 {
    font-size: medium;
}

#form  {
    margin:1em 0;
}

#form .form-floating {
    margin-bottom:1em;
}